.container {
    position: absolute;
    bottom: 0;
    height: 70vh;
    width: 100%;
}

.slide {
    height: 100%;
    width: 100%;
    background-color: #FFEED5;
    padding: 20px;
    border-radius: 35px 35px 0 0;
}

.custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.custom-pagination .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: #999;
    border-radius: 50%;
    opacity: 0.6;
    transition: opacity .3s, background-color .3s, box-shadow 3s;
}

.custom-pagination .swiper-pagination-bullet-active {
    background: #ff9500;
    opacity: 1;
    box-shadow: 0 0 10px 1px #ff9500e1;
}