* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 100%; */
}


body {
  background-color: black;
  /* background-color: rgb(34, 34, 34); */
  font-family: sans-serif, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}